@model MyQuizProject.Models.Question
@{
    ViewBag.Title = "Edit Question";
}

<h2>Edit Question</h2>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="Text" class="control-label"></label>
        <input asp-for="Text" class="form-control" />
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Points" class="control-label"></label>
        <input asp-for="Points" class="form-control" />
        <span asp-validation-for="Points" class="text-danger"></span>
    </div>
    
 
    <div class="form-group">
        <label asp-for="OptionA" class="control-label"></label>
        <input asp-for="OptionA" class="form-control" />
        <span asp-validation-for="OptionA" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OptionB" class="control-label"></label>
        <input asp-for="OptionB" class="form-control" />
        <span asp-validation-for="OptionB" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OptionC" class="control-label"></label>
        <input asp-for="OptionC" class="form-control" />
        <span asp-validation-for="OptionC" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OptionD" class="control-label"></label>
        <input asp-for="OptionD" class="form-control" />
        <span asp-validation-for="OptionD" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CorrectAnswer" class="control-label">Correct Answer</label>
        <select asp-for="CorrectAnswer" class="form-control">
            <option value="A"> A</option>
            <option value="B"> B</option>
            <option value="C"> C</option>
            <option value="D"> D</option>
        </select>
        <span asp-validation-for="CorrectAnswer" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="QuizId" />
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>

</form>
<div>
    <a asp-action="Index" asp-route-quizId="@ViewBag.QuizId">Back to List</a>
</div>
